/**
* Le CSS de notre éditeur de contenu sous wordpress et des textes qui en sont tirés dans nos pages
*/

#tinymce h4,
.editor-content h1,
.editor-content h2,
.editor-content h3,
.editor-content h4,
.editor-content h5,
.editor-content h6 {
    color: #36707C;
    font-size: 1.7rem;
    font-weight: 100;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

@media(max-width: 768px) {
    #tinymce h4,
    .editor-content h1,
    .editor-content h2,
    .editor-content h3,
    .editor-content h4,
    .editor-content h5,
    .editor-content h6 {
        font-size: 1.3rem;
    }
}

#tinymce p,
.editor-content p {
    line-height: 2rem;
}

.editor-content.post h1,
.editor-content.post h2,
.editor-content.post h3,
.editor-content.post h4,
.editor-content.post h5,
.editor-content.post h6 {
    margin-top: 0.8rem;
    margin-bottom: 2rem;
}
